html{
	height:100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	background: url(../img/baby-simulator.jpg);
	background-position: center;
	background-size: cover;
}


#landing-header{
    z-index:1;
    position:relative;
    text-align:center;
    padding-top:40vh;
}

#landing-header h1, #landing-header h4 {
  color: #fff;
}


.separator-container {
  text-align: center;
  position: relative;
}

.separator-container .separator {
  color: #fff;
  margin: 0 auto 1em;
  width: 30em;
}

.separator-container .separator.line-separator:before, .separator-container .separator.line-separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 14px;
  border: 1px solid #fff;
}

.separator-container .separator.line-separator:before {
  float: left;
}

.separator-container .separator.line-separator:after {
  float: right;
}

*:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}