body{
	font-family: 'Montserrat', sans-serif;
}

li.large-front{
	font-size:1em;
}

.copyrights-relative{
	text-align:center;
	padding: 50px 20px;
	background: #eeeeee;
	margin-top: 50px;
	position:relative;
	bottom:0;
	width:100%;
}

.copyrights-absolute{
	text-align:center;
	padding: 50px 20px;
	background: #eeeeee;
	margin-top: 50px;
	position:absolute;
	bottom:0;
	width:100%;
}

.large-font{
	font-size:1.25em;
}

.section{
	padding: 5.5em 0 0;
}

.subsection{
	padding: 3em 0 0;
}

.subsection h3{
	padding-bottom: 0.5em;
}

.jumbotron{
	margin-top:1em;
	padding:1.5rem 2rem;
}

.separator-container {
  text-align: center;
  position: relative;
}

.separator-container .separator {
  color: #c5a47e;
  margin: 0 auto 1em;
  width: 11em;
}

.separator-container .separator.line-separator:before, .separator-container .separator.line-separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 14px;
  border: 1px solid #c5a47e;
}

.separator-container .separator.line-separator:before {
  float: left;
}

.separator-container .separator.line-separator:after {
  float: right;
}

.ekko-lightbox .modal-footer {
    text-align: center;
    display: flow-root;
    font-weight: bold;
    color:#193d77;
}

.image-caption{
	color:#193d77;
}

.image-height{
	height: 40rem;
}

*:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#background li{
	margin: 1em;
}






